@model IEnumerable<QuizProjectFE.Models.Option>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OptionID}) |
                @Html.ActionLink("Details", "Details", new { id=item.OptionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OptionID })
            </td>
        </tr>
}
    </tbody>
</table>
